/* FONTES EXTERNAS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');

/* DECLARANDO VARIAVEIS PARA CORES */
:root {

    /* BUTTONS - BORDERS FOCUS NORMAL*/
    --color-main-one: #FFA500;
    --color-main-two: #F5AD27;


    --color-main-tree: #FFFFFF;

    /* BACKGROUND/BODY */
    --color-main-four: #39404F;

    /* BORDER */
    --color-main-seven: #D9D9D9;

    /* CORES ALERT ERROR */
    --color-main-eight: #F2C5DB;
    --color-main-nine: #4F0E2D;

    /* CORES ALERT SUCCESS */
    --color-main-ten: #4CA847;
    --color-main-eleven: #0d4119;

}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* LINKS */
a {
    text-decoration: none;
    color: var(--color-main-one);
    padding-top: 10px !important;
}

/* BODY */
body {
    background: var(--color-main-four);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 100%;
    max-width: 850px;
    border-radius: 4px;
    border: 1px solid var(--color-main-seven);
    padding: 30px;
    margin: 20px;
}

.content h4 {
    text-align: center;
    font-size: 22px;
    color: var(--color-main-tree);
    font-weight: 400;
    margin-top: -15px;
}

.content .alert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    height: 34px;
    border-radius: 3px;
    background: var(--color-main-eight);
    display: none;
}

.content .alert.show {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    height: 34px;
    border-radius: 3px;
    background: var(--color-main-eight);

}

.content .alert p {
    font-size: 16px;
    color: var(--color-main-nine);

}

.content .alert.success {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    height: 34px;
    border-radius: 3px;
    background: var(--color-main-ten);

}

.content .alert.success p {
    font-size: 16px;
    color: var(--color-main-eleven);

}

.content .input-select {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 34px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
    position: relative;

}

.content .input .input-select input {

    width: 50%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid var(--color-main-seven);
    background: transparent;
    color: var(--color-main-seven);
    padding: 6px;
    margin-right: 10px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s;
    background: transparent;

}

.content input-textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 54px;
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
}

.content .input-textarea textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    resize: none;
    border-radius: 3px;
    border: 1px solid var(--color-main-seven);
    background: var(--color-main-four);
    color: var(--color-main-seven);
    padding: 6px;
    outline: none;
    font-size: 16px;
    background: transparent;
    margin-bottom: 15px;
    margin-top: 10px;
}

.content .input-textarea textarea:focus {
    border: 1px solid var(--color-main-one);
    box-shadow: inser 0 0 13px var(--color-main-one);
}

.content .input .input-select select, option {

    width: 50%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid var(--color-main-seven);
    background: var(--color-main-four);
    color: var(--color-main-seven);
    padding: 6px;
    margin-right: 10px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s;
}

.content .input-textarea .input-label {
    color: var(--color-main-tree);
    font-size: 14px;
}

.content .input .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-right: 10px;
}

.content .input .label .input-label-select {

    color: var(--color-main-tree);
    ;
    font-size: 14px;
}

.content .input .input-select select:focus {
    border: 1px solid var(--color-main-one);
    box-shadow: inser 0 0 13px var(--color-main-one);
}

.content .input .input-select input:focus {
    border: 1px solid var(--color-main-one);
    box-shadow: inser 0 0 13px var(--color-main-one);
}

.content .input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 54px;
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.content .input .input-label {
    color: var(--color-main-tree);
    padding-bottom: 5px;
    font-size: 14px;
}

.content .input input {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid var(--color-main-seven);
    background: transparent;
    color: var(--color-main-seven);
    padding: 6px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s;

}

.content input:focus {
    border: 1px solid var(--color-main-one);
    box-shadow: inser 0 0 13px var(--color-main-one);
}

button {
    width: 100%;
    height: 34px;
    border-radius: 3px;
    border: 1px solid var(--color-main-one);
    background: var(--color-main-one);
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 15px;
    transition: all 0.3s;
}

button:hover {
    background: transparent;
    color: var(--color-main-one);
}

.content .required {
    color: var(--color-main-tree);
}